<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser;">
    <div class="navbar-nav">
        <a class="nav-item nav-link">
          <img 
               [src]="currentUser.image" 
               width="80px" height="80px" 
               (click)="file.click()"
               (error)="onImgError($event)" 
          >
        </a>
        <form style="display:none;">
            <div class="form-group">
                <input type="file" name="image" accept="image/*" (change)="importFile($event)" #file/>
            </div>
        </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a routerLink="/" target="_top">UMS - Angular 7 Client</a>
    </p>
</div>