/*.jumbotron {
    background-image: url(https://twu.edu/media/images/center-women-entrepreneurs/CWB-Hero---1440px.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}*/