.jumbotron {
    background-image: url(https://twu.edu/media/images/center-women-entrepreneurs/CWB-Hero---1440px.jpg) !important;
    background-repeat: no-repeat  !important;
    background-attachment: fixed  !important;
    background-position: center  !important;
    background-size: cover  !important;
}